:root {
  font-family: sans-serif;
  background-color: black;
  color: white;
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

.clock {
  font-size: 120px;
}

.sensors-data {
  font-size: xx-large;
}

@media (min-width: 600px) {
  .clock {
    font-size: 85px;
  }
  .sensors-data {
    font-size: x-large;
  }
}

@media (min-width: 300px) {
  .sensors-data {
    font-size: large;
  }
}

.controls {
  position: absolute; 
  left: 10px; 
  top: 10px;
}

/* Reload button loading */
i.loading {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
